/*
colors:
tan: rgb(255,255,230)
blue: rgb(2,254,229)
red: rgb(243,69,92)
*/

@font-face {
    font-family: "hylia";
    src: url("/font/HyliaSerifBeta-Regular.otf");
}

@font-face{
    font-family: "calamity-bold";
    src: url("/font/Calamity-Bold.woff");
}

@font-face{
    font-family: "calamity";
    src: url("/font/Calamity-Regular.woff");
    
}

h1 {
    padding-bottom: 30px;
    font-family: "hylia";
    text-align: center;
}

body {
    background-color: rgb(255, 255, 230);
    font-family: "calamity-bold";
}

.error {
    color: rgb(243, 69, 92);
}

.txtCenter {
    text-align: center;
}

.callout {
    background-color: rgba(0, 0, 0, 100);
    border-radius: 30px;
    margin-bottom: 30px;
}

label,
.calloutText {
    color: rgb(255, 255, 230);
    font-weight: 700;
}

.disclamer {
    font-family: "calamity";
    font-size: 10px;
    font-style: italic;
    margin-bottom: 15px;
    text-align: center;
}

.notice {
    font-family: "calamity";
    font-size: 80%;
}

.footer {
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.answer {
    font-weight: 900;
}

.hiRed {
    color: rgb(243, 69, 92);
}

.link {
    color: rgb(2, 254, 229);
}

.rightAd {
    min-width: 250px;
}

/*mobile only*/
.large-12 {
    text-align: center;
}

/*end mobile only*/

/*this is for revealing content on click*/
.collapse {
    display: block;
}

.collapse + input {
    display: none;
}

.collapse + input + * {
    display: none;
}

.collapse + input:checked + * {
    display: block;
}

/*end of reveal content on click*/
